@font-face {
    font-family: "EuclidCircularA-Regular";
    src: url("./assets/fonts/EuclidCircularA-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "MongoDBValueSerif-Regular";
    src: url("./assets/fonts/MongoDBValueSerif-Regular.woff2") format("woff");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: "MongoDBValueSerif-Regular", sans-serif;
}

p, input, textarea, button, li {
    font-family: "EuclidCircularA-Regular", sans-serif;
    font-weight: lighter;
    will-change: filter;
    transition: filter 300ms;
}

.logo {
    will-change: filter;
    transition: filter 300ms;
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em rgb(0, 167, 213));
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 10s linear;
    }
}

.scrollbar::-webkit-scrollbar {
    display: none;
}
